<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vitamin</title>
      <style>
  body{
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1498522271744-cdd435c13f24?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    line-height: 1.6;
    height: 100%;
    margin: 0;
    color: black;
    width: 80%;
    margin: auto;
    padding: 0;
  }
  </style>
</head>
<body>
<h1>Vitamin Rich Food Suggestions: </h1>
Certainly! Vitamins are essential micronutrients that play a crucial role in maintaining our health. Here are some food sources rich in various vitamins:

<h2>Vitamin A:</h2>
-Found in beef, liver, eggs, shrimp, fish, fortified milk, sweet potatoes, carrots, pumpkins, spinach, and mangoes1.<br>
-Helps with vision, immune function, and skin health.<br>
<h2>Vitamin B (B-complex vitamins):</h2>
-B-1 (Thiamine): Present in ham, soymilk, watermelon, and acorn squash.<br>
-B-2 (Riboflavin): Found in milk, yogurt, cheese, whole and enriched grains, and cereals.<br>
-B-3 (Niacin): Available in meat, poultry, fish, fortified and whole grains, mushrooms, and potatoes.<br>
-B-5 (Pantothenic acid): Found in chicken, whole grains, broccoli, avocados, and mushrooms.<br>
-B-6 (Pyridoxine): Present in meat, fish, poultry, legumes, tofu, bananas, and soy products.<br>
-B-7 (Biotin): Available in whole grains, eggs, soybeans, and fish.<br>
-B-9 (Folate): Found in fortified grains and cereals, asparagus, spinach, broccoli, and legumes (black-eyed peas and chickpeas).<br>
-B-12 (Cobalamin): Present in meat, poultry, fish, milk, cheese, fortified soymilk, and cereals.<br>
These vitamins are essential for energy production, nerve function, and red blood cell formation.<br>
<h2>Vitamin C:</h2>
-Abundant in citrus fruits, potatoes, broccoli, bell peppers, spinach, strawberries, tomatoes, and Brussels sprouts.<br>
-Supports the immune system and acts as an antioxidant1.<br>
<h2>Vitamin D:</h2>
-Found in fortified milk, cereals, and fatty fish.<br>
-Essential for bone health and immune function.<br>
<h2>Vitamin E:</h2>
-Present in vegetable oils, leafy green vegetables, whole grains, and nuts.<br>
-Acts as an antioxidant and supports skin health.<br>
<h2>Vitamin K:</h2>
-Available in cabbage, eggs, milk, spinach, broccoli, and kale.<br>
-Important for blood clotting and bone health<br>
</body>
</html>